<%= form_for(@topic, :html => {:class => 'form-stacked'}) do |f| %>
  <fieldset>
    <legend><%= @topic.id.blank? ? "新建帖子" : "修改帖子" %></legend>
    <%= render "shared/error_messages", :target => @topic %>  
    <div class="clearfix">
      <div class="input">
        <span <%= ' style=display:none;' if @node.present? %>><%= f.select :node_id, Node.recent.collect { |n| [n.name,n.id] }, {}, :class => 'span3' %></span>
      </div>
    </div>
    <div class="clearfix">
      <div class="input">
        <span class="span7">
          <%= f.text_field :title %>
        </span>
      </div>
    </div>
     <div class="edit_tools">
    		<a href="#" onclick="return Topics.addImageClick();" id="add_image">上传图片</a>
    	</div>
    <div class="clearfix">
      <div class="input">
        <div id="editor-button-bar"></div>
        <%= f.text_area :body, :id => 'editor-input' %>
        <div id="editor-preview"></div>
      </div>
    </div>
    <div class="actions">
      <input type="submit" value="保存" class="btn primary"> 
      <a href="<%= @topic.id.blank? ? root_path : topic_path(@topic) %>" class="btn">取消</a>
    </div>
  </fieldset>
<% end %>
